@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #3494e6; /* fallback for old browsers */
  background: url("bg/beach.jpg");
  background-size: cover;
  background-position: center;
  gap: 20px;
}
p {
  color: white;
  font-size: x-small;
}
footer {
  z-index: 1;
}
body::before {
  content: "";
  position: absolute;
  height: 100dvh;
  width: 100%;
  backdrop-filter: blur(3px);
}
main {
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#contenedor {
  display: flex;
  text-align: center;
  gap: 20px;
}

#caja1,
#caja2,
#caja3 {
  display: flex;
  text-align: center;
  vertical-align: middle;
  padding: 4% 2% 2% 4%;
  width: 300px;
  height: 300px;
  color: azure;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.15),
    rgb(255, 255, 255, 0.15)
  );
  border-radius: 12px;
  backdrop-filter: blur(30px);
}
#caja1,
#caja3,
#cielo,
#provincia {
  display: none;
}

#caja2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0%;
}

#icono-animado {
  height: 128px;
  width: 128px;
}
.input-container {
  position: relative;
  width: 300px; /* Ajusta según el tamaño deseado */
}

.ciudad {
  width: 100%;
  padding: 10px 40px 10px 16px; /* Deja espacio para el botón */
  border-radius: 99px;
  border: 3px solid transparent;
  margin-bottom: 2%;
}

#buscar {
  position: absolute;
  top: 50%;
  right: 16px; /* Espaciado desde el borde derecho */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #555; /* Color de la lupa */
  font-size: 24px; /* Tamaño del icono */
}
#pronostico {
  display: none;
  gap: 15px;
  color: azure;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.15),
    rgb(255, 255, 255, 0.15)
  );
  border-radius: 12px;
  backdrop-filter: blur(30px);
  width: 940px;
  justify-content: space-around;
}
.dia {
  min-width: 100px;
  padding: 2%;
}
.icono-pro {
  width: 70px;
  height: 70px;
}
